
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-color:rgba(26, 11, 46, 1);
    --bg-color2:#230E3D;
    --green-color:#00FF88;
}
/* shared style */

.section-width{
    max-width: 1600px;
    margin: 0 auto;
    /* border: 1px solid red; */
}
.heading2{
    font-size: 3rem;
    color: #fff;
    font-weight: bold;
}
.text{
    font-size: 1rem;
    font-weight: normal;
    color: #ffffff;
    line-height: 1.5rem;
}
.card-heading{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
    color: #ffffff;
}
.primary-btn{
    padding: 0.75rem 1rem;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 10000px;
}
/* main style */
/* Header section style */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-color);
    border-bottom: 1px solid rgba(65, 37, 103, 1);
    padding: 20px;
}

.wave {
    background: linear-gradient(20deg, rgba(247,233,63,1), rgba(251,9,180,1), rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
.menu{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.menu li{
    list-style: none;
}
.menu li a{
    text-decoration: none;
}
.hamburger-menu{
    display: none;
    color:#ffffff;
    font-size: 2rem;
}
/* Banner style section */
.banner{
    width: 100%;
    background: url("./assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 6.31rem 520px;
}
.banner-container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.podcast{
    background: url(./assets/hero-circle.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 21.88rem;
    width: 21.88rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    position: relative;

}
.podcast-img{
    /* width: 116px; */
}

.badge{
    width: 75px;
    height: 37px;
    background-color: var(--green-color);
    padding: 8px 16px;
    border-radius: 1000px;
    box-shadow: 0px 0px 27px rgba(0, 255, 136, 0.5);
    position: absolute;
    right: 0;
    top: 25px;;
}

.banner-text{
    margin-top: 2.5rem;
    text-align: center;
}
.banner-text h1{
    font-size: 3.75rem;
    color: #fff;
    font-weight: 800;
}
.btn-container{
    margin-top: 24px;
}
.subscribe{
    padding: 0.75rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    color:var(--green-color);
    border: 1px solid var(--green-color);
    border-radius: 10000px;
    background-color: transparent;
    margin-left: 0.5rem;
}

/* About section sytles */
.about-section{
    /* border: 2px solid yellow; */
    background-color: #1A0B2E;
    padding:3.125rem 0rem 7.5rem;
}
.about-text-content{
    max-width: 75rem;
    margin: 0 auto 5rem;
    text-align: center;
    color: #fff;
}
.about-text-content p{
    margin-top: 1rem;
}
hr{
    max-width: 75rem;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 1);
    opacity: 0.1;
}
.about-card-container{
    max-width: 75rem;
    /* border: 1px solid white; */
    margin: 5rem auto 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
    justify-items: center;
}
.about-card-container .card h1{
    font-size: 3rem;
    font-weight: 900;
    color: var(--green-color);
    margin-bottom: 1rem;
}

/* choose section styles */
.choose-section{
    padding: 7.5rem 12.5rem;
    background-color: var(--bg-color2);
}
.choose-title{
    text-align: center;
    margin-bottom: 2.5rem;
}

.choose-card-container{
    display: grid;
    grid-template-areas: "audio mobile mobile"
                        "audio community community"
                        "interview interview resource";
    grid-gap:30px;
}
.choose-card{
    padding: 2.5rem;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    color:#ffffff
}


#audio{
    grid-area: audio;
    display: flex;
    align-items: center;
}
#mobile{
    grid-area: mobile;
}
#community{
    grid-area: community;
}
#interview{
    grid-area: interview;
}
#resource{
    grid-area: resource;
}
/* feature and host section style */
.feature-and-host{
    border: 2px solid yellow;
    background-color: var(--bg-color);
    padding: 7.5rem 12.5rem;
}
.feature-episodes{
    text-align:center;
}
.feature-card-container{
    margin-top: 2.5rem;
    display: flex;
    gap:30px;
}
.feature-card{
    background-color: #250D44;
    border-radius:20px;
}
.feature-card iframe{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card-text-container{
    text-align: left;
    margin: 1.5rem;
}
.time{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-top: 12px;
    color: var(--green-color);
}


/* Responsive for small device */
@media screen and (max-width:576px) {
    .navbar {
        justify-content: space-between;
    }
    #btn, .menu {
      display: none;
    }
    .hamburger-menu{
        display: block;
    }
    .banner, .about-section, .choose-section, .feature-and-host{
        padding: 40px 20px;
    }
    .podcast {
        height: 16rem;
        width: 16rem;
    }
    .podcast-img{
        width:35%;
    }
    .banner-text {
        margin-top: 1.5rem;
    }
    .banner-text h1 {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }
    .badge {
        top: 5px;
    }
    .about-text-content {
        margin: 0 auto 2.5rem;
    }
    .heading2{
        font-size: 2rem;
    }
    .card-heading{
        font-size: 1.375rem;
    }
    .about-card-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem;
    }
    .choose-card-container {
        grid-template-areas:
            "audio"
            "mobile"
            "community"
            "interview" 
            "resource";
        grid-gap: 1rem;
    }
    .feature-card-container {
        flex-direction: column;
        margin-top:2.5rem;
        gap: 1rem;
}
     
}